.descriptionTextArea
    resize: none
    width: 588px
    height: 300px
    margin: 0 0 42px

.descriptionSmallTitle
    font-size: 13px
    margin: 0 0 15px

input.vacancyTitleInput
    width: 500px!important
    margin-bottom: 31px

.salaryContainer
    margin-bottom: 30px

.salaryUnit
    margin-right: 12px

input.salaryInput
    display: inline-block
    vertical-align: middle
    width: 80px
    margin-bottom: 0
    margin-right: 10px

    & + &
        margin-left: 10px


.scheduleInput
    width: 35px
    margin-right: 12px

    & + &
        margin-left: 12px