.mBottom
    margin-bottom: 45px

.withButton
    position: relative
    button
        position: absolute
        right: 0
        top: 0

.isFilter
    position: relative
    font-size: 13px
    .filtersContainer
        position: absolute
        right: 0
        bottom: 20px

.title
    color: $color-text
    font-weight: bold
    font-size: 24px
    padding-bottom: 15px
    border-bottom: 3px solid #E9EDEE
    margin: 0


.filter
    width: 100%
    padding: 8px 10px
    font-size: 13px
    border-radius: 3px
    text-align: left
    user-select: none
    margin: 0 0 5px
    word-break: break-word
    cursor: pointer
    text-transform: uppercase
    color: #2D9CDB
    &.active
        color: #24292E

.checkbox
    display: none