.mobileAppBlock
  border: 1px solid #EBEBEB
  border-radius: 3px
  padding: 20px 14px

.asideLeftContent
  border: 1px solid #EBEBEB
  padding: 14px 9px
  border-radius: 3px

.catalogSection
  margin-bottom: 55px

.catalogSectionTitle
  color: $color-text
  font-size: 13px
  font-weight: bold
  text-transform: uppercase
  margin: 0
  padding: 0 0 10px
  border-bottom: 5px solid #E9EDEE
  &::after
    display: block;
    content: "";
    clear: both;
  span
    display: block
    width: 50%
    float: left;

.cleanList
  float: right;
  text-align right
  text-transform: none;
  font-weight: normal;
  font-size: 12px
  line-height: 14px
  color: #2E99EB;
  cursor: pointer;

.noVacancies
  display block
  text-align center
  width: 240px
  margin: 0 auto
  font-size: 13px
  font-weight: 300
  line-height: 18px
  margin-top: 40px
  margin-bottom: 150px
  color: #24292E

section header
  border-bottom: 0px solid #fff

