.registerInputContainer
  padding-top: 40px

.contactInput
  padding-bottom: 40px
  .contactInputLabel
    display: block
    padding-bottom: 10px
    font-size: 13px
    line-height: 15px
    color: #24292E
  .contactInputName
    display: block
    height: 35px
    width: 231px
    border: 1px solid #C4CCCF
    border-radius: 3px
    
.col
  width: 33%
  display: inline-block

input
  font-weight: 300

input[type="file"]
  display: none

.upploadLogo
  width: 167px
  height: 35px
  border-radius: 3px
  color: #fff
  background-color: #2D9CDB
  display: inline-block
  text-transform: uppercase
  padding-top: 11px
  cursor: pointer
  font-size: 12px
  line-height: 14px
  text-align: center

.previewBlock
  display: block

.close
  color: rgba(0,0,0,0.4);
  cursor: pointer;
  text-align: right;
  position: absolute;
  top: -11px;
  right: -12px;
  font-size: 13px;
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid rgba(0,0,0,.2);
  padding: 0px 8px;
  &:hover
    color: #000

.preview
  height: 70px
  width: 100px
  display: inline-block
  position: relative
  background: #fff
  border-radius 3px;
  border: 1px solid rgba(0,0,0,.06)
  line-height: 1.42857143;
  margin-right: 10px
  margin-top: 20px
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  img
    display: block
    max-width: 100%
    height: auto
    position: absolute
    top: 50%
    transform: translateY(-50%)

.valid
  input, select
    border: 1px solid #EB5757 !important
    background-color: rgba(255,0,0,.2)

::-webkit-input-placeholder
  color #828282
  font-weight: 300

::-moz-placeholder
  color #828282
  font-weight: 300

:-ms-input-placeholder
  color #828282
  font-weight: 300

:-moz-placeholder
  color #828282
  font-weight: 300