.title
  font-weight: 300
  font-size: 13px
  line-height: 15px
  margin-bottom: 15px
  margin-top: 10px

.itemBlock
  width 25%
  padding-right 24px
  border-left 1px solid #E9EDEE
  padding-left 24px

