.requirmentsWrapper
  width: 60%
  display: inline-block

.blockTitle
  font-size: 13px
  line-height: 15px
  display: inline-block
  width: 200px

.container
  margin-bottom: 30px

.bigInput
  width: 328px

.shortInput
  margin-right: 17px

.sum
  font-size 24px !important

.submitButton
  width: 156px
  height: 35px
  margin-left: 200px

.notLess
  margin-left: 200px
  font-size 13px
  font-weight: 300
  margin-top: 10px