select::-ms-expand
  display: none

select
  -webkit-appearance: none
  -moz-appearance: none
  -ms-appearance: none
  appearance: none !important
  background: #FFF
  padding-left: 10px
  height: 35px
  vertical-align: middle
  height: 35px
  border: 1px solid #C4CCCF
  width: inherit
  border-radius: 3px
  font-weight: 300
  font-size: 15px
  line-height: 21px
  overflow: hidden
  cursor:pointer
  z-index: 1
  &:focus
    outline: none

.arrow
  position: relative
  z-index: 0
  margin-right: 12px
  &::before
    content: ''
    position: absolute
    border: 5px solid transparent
    border-top: 9px solid #c4c4c4
    right: 12px
    top: 50%
    transform: translateY(-25%)