.flRow
  display: flex;
  flex-direction: row;

.iconContainer
  width: 60px
  min-width: 60px
  display: flex
  justify-content: center
  align-items: flex-start
  margin-right: 20px
  overflow: hidden
  margin-top: 35px

.invitedIcon
  width: 35px
  height: 35px
  background-image: url('./i/inv.svg')
  background-size: 100%

.textContainer
  flex-grow: 1
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%
  padding-top: 35px

.titleGreen
  color: #27AE60
  line-height: 18px
  font-size: 13px
  margin-bottom: 4px

.feedBackText
  font-size: 13px
  color: #24292E
  font-weight: 300
  line-height: 18px