.companyLogo
  width: 100%
  margin-bottom: 8px

.applyButton
  width: 100%
  margin-bottom: 13px

.mobileAppBlock
  border: 1px solid #EBEBEB
  border-radius: 3px
  padding: 20px 14px

.catalogSection
  margin-bottom: 55px
  margin-top: 50px

.catalogSectionTitle
  color: $color-text
  font-size: 13px
  font-weight: bold
  text-transform: uppercase
  margin: 0
  padding: 0 0 10px
  border-bottom: 3px solid #E9EDEE

