.resumeContainer
  padding: 0
  margin-bottom: 25px

.avatar
  width: 48px
  height: 48px
  border-radius: 100%
  overflow: hidden
  margin-right: 20px
  display: inline-block
  vertical-align: top
  img
    display: block
    width: 100%
    min-height: 100%

.resumeInfo
    display: inline-block
    width: calc(100% - 68px)

.name
  color: #2D9CDB
  font-size 13px
  font-weight: 300
  line-height: 15px

.company, .position
  font-size 11px
  line-height: 15px
  color: #828282