.NotUpturnedContainer
  text-align left
  font-size 13px
  line-height: 30px
  padding-top: 5px
  font-weight: 300

.lastUpturnDate
  color: #EB5757

.prices
  span
    color: #2D9CDB

.offerUpturn
  margin-bottom: 30px

a
  color #24292e