.openDate
  font-size: 15px
  color: #24292E
  display: block
  margin-top: 20px
  margin-bottom: 40px

  span
    color: #828282
    margin-right: 10px

.text
  font-size: 15px
  color: #24292E
  line-height: 21px
  margin-bottom: 70px
