.blockTitle
  margin-bottom: 10px
  font-size: 13px
  line-height: 15px

.otherLangContainer
  margin-bottom: 15px
  display: block

.otherLangContainer
  label
    margin-right: 10px

.addLang
  font-size 13px
  font-weight: 300
  line-height: 18px
  color: #2D9CDB
  margin-top: 15px
  cursor: pointer

.delLang
  font-size 13px
  font-weight: 300
  line-height: 18px
  color: #2D9CDB
  display: inline-block
  cursor: pointer
  position: absolute
  bottom: 40px
  left: 346px

.langContainer
  position: relative