.reviewContainer
        width 75px
        height 60px
        background-color #fff
        border-radius 4px
        text-align center
        padding: 10px
        padding-top: 15px
        cursor: pointer
        margin-top: 15px
        margin-bottom: 25px
        position: relative
        &.isFeedBacks
                background-color: #E9EDEE
        .new
                position: absolute
                top: -15px
                right: -15px
                border: 2px solid #fff
                background-color: #F43232
                border-radius: 100%
                color: #fff
                padding: 4px
                padding-right: 6px
                padding-left: 6px
                font-size: 12px
                font-weight: bold
        &:hover
                background-color #2F80ED
                color #fff


.quantity
        font-size: 15px

.title
        margin-top 5px
        font-size: 11px

