.title
  font-size 13px
  line-height: 18px
  text-transform: uppercase
  margin-bottom: 10px

.phone
  font-size 18px
  line-height: 25px
  margin-bottom: 10px

.description
  font-size: 11px
  font-weight: 300
  line-height: 15px
  margin-bottom: 10px

.linkName
  font-size: 11px
  line-height: 13px
  color: #2D9CDB
  margin-bottom: 30px
  display: block
  text-decoration: none