.textContainer
  margin: 0
  padding: 23px 0 0

.text
  display: inline-block
  vertical-align: top
  width: 588px
  margin-right: 30px
  margin-bottom: 22px
  color: #24292E
  font-size: 13px
  font-weight: 300
  line-height: 18px