.blockTitle
  font-size: 13px
  line-height: 15px
  display: inline-block
  width: 178px

.container
  margin-bottom: 30px

.description
  width: 485px
  height: 300px
  border-radius: 3px
  display: inline-block
  vertical-align: top