header
  position relative

  &.recHeader
    border-bottom: 3px solid #9B51E0

  h1
    display: block
    font-size: 24px
    font-weight: bold
    color: $color-text
    margin: 0 0 3px

  h4
    font-size: 15px
    color: $color-text
    margin-bottom: 7px
    margin-top: 10px