.blockTitle
  font-size: 13px
  line-height: 15px
  display: inline-block
  width: 235px

.container
  margin-bottom: 20px

.bigInput
  width: 328px

.example
  display: inline-block
  font-size: 13px
  font-weight: 300
  line-height: 18px
  margin-left: 17px
  color #828282
  span
    color: #2D9CDB