.itemBlock
  width 25%
  padding-right 24px
  border-left 1px solid #E9EDEE
  padding-left 24px

.mainElement
  width 50%
  border-left none
  padding-left 0


.contactsName
  margin-left 80px
  font-size 13px
  line-hight 15px

.itemHeader
  display inline-block
  width 80%
  vertical-align top