.radio
  display: inline-block
  margin-left: 20px

.blockTitle
  font-size: 13px
  line-height: 15px
  display: inline-block
  width: 235px

.container
  margin-bottom: 20px

.bigInput
  width: 328px

.middleInput
  width: 165px