.addressesList
    padding: 15px 0 0

.addressCheckbox
    display: inline-block
    vertical-align: top
    width: 33%
    padding-right: 20px
    margin-bottom: 28px

.addAddressButton
    color: #2E99EB
    font-size: 11px
    cursor: pointer
    margin: -18px 0 0 23px