.billsWrapper
  margin-top: 100px

.title
  display: block
  margin-bottom: 40px

.table
  width: 100%
  max-width: 100%
  tr
    border-bottom: 1px solid #E9EDEE
    display: table
    width: 100%
    max-width: 100%
  th
    text-align: left
    font-weight: 500
    font-size: 13px
    line-height: 15px
    width: 15%
    padding-bottom: 18px
    &:nth-child(3)
      width: 20%
    &:last-child
      width: 15%
    &:first-child
      width: 10%
  td
    text-align: left
    font-weight: 300
    font-size: 13px
    line-height: 15px
    width: 15%
    padding: 20px 0
    white-space nowrap
    &:nth-child(2)
      max-width 170px
    &:nth-child(3)
      width: 20%
    &:last-child
      width: 15%
    &:first-child
      width: 10%