.upTurnBlock
  text-align: center

.iconStar
  width: 50px
  height: 50px
  background-image: url("../i/star.svg")
  display: block
  margin: 0 auto

.lightning
  width: 29px
  height: 50px
  background-image: url("../i/lightning.svg")
  display: block
  margin: 0 auto

.title
  font-weight: 300
  font-size: 13px
  line-height: 18px
  padding-top: 10px
  padding-bottom: 35px
  width: 136px
  text-align center
  margin: 0 auto

.info
  font-weight: 300
  font-size 11px
  line-height: 15px
  margin-top: 35px
  text-align center
  .boldText
    font-weight: 700

.itemBlock
  width 25%
  padding-right 24px
  border-left 1px solid #E9EDEE
  padding-left 24px