.archContainer
  width: 50%
  border-left: 1px solid #E9EDEE
  position: relative
  
.icon
  display: inline-block
  width: 60px
  height: 60px
  background-image: url("./i/archived.svg")
  vertical-align: top
  margin-right: 20px

.info
  display: inline-block
  font-size: 13px
  font-weight: 300
  line-height: 18px
  padding-top: 3px
  span
    color #2D9CDB

.archInner
  display: block
  width: 235px
  height: 60px
  position: absolute
  left: 0
  right: 0
  top: 50%
  transform: translateY(-50%)
  margin: 0 auto
