.submitButton
  width: 180px
  height: 35px
  margin-top: 30px

.table
  width: 100%
  max-width: 100%
  tr
    border-bottom: 1px solid #E9EDEE
    display: table
    width: 100%
    max-width: 100%
  th
    text-align: left
    font-weight: 500
    font-size: 13px
    line-height: 15px
    width: 20%
    padding-bottom: 18px
    &:nth-child(3)
      width: 25%
    &:last-child
      width: 5%
    &:first-child
      width: 15%
  td
    text-align: left
    font-weight: 300
    font-size: 13px
    line-height: 15px
    width: 20%
    padding: 30px 0
    white-space nowrap
    &:nth-child(2)
      max-width 170px
    &:nth-child(3)
      width: 25%
    &:last-child
      width: 5%
    &:first-child
      width: 15%

.link
  color: #2D9CDB