.questionList
  padding: 20px 10px
  font-size: 13px
  border: 1px solid #EBEBEB
  border-radius: 3px
  line-height: 18px
  margin-top: 45px

.questionBlock
  margin-bottom: 40px

.question
  font-weight: bold
  margin-bottom: 10px

.answer
  font-weight: 300
  margin-bottom: 10px

a
  color: #2D9CDB
  text-decoration: none

.phone
  font-size: 18px
  margin-bottom: 10px
