.photo
  text-align: center
  position: relative
  display: inline-block
  width: 35%

.photoInner
  display: block
  width: 295px
  margin: 0 auto
  border-left: 1px solid #E9EDEE

.photoPreview
  width: 180px
  height: 180px
  display: block
  margin: 0 auto
  margin-top: 35px
  margin-bottom: 35px
  background-image: url("./i/photoPreview.svg")
  background-size: 100%
  cursor: pointer
  border-radius 100%
  border: 2px solid #fff
  &:hover
    border: 2px solid #2D9CDB

.photoTitle
  font-weight: bold
  font-size: 13px
  line-height: 15px
  text-transform: uppercase;

.photoLink
  color: #2D9CDB
  font-size: 13px
  line-height: 18px
  font-weight: 300
  cursor: pointer