.blockTitle
  font-size: 13px
  line-height: 15px
  display: inline-block
  width: 178px

.container
  margin-bottom: 20px

.bigInput
  width: 328px

.addAddress
  font-size 13px
  color: #2D9CDB
  font-weight: 300
  cursor: pointer
  margin-bottom: 30px
  display: inline-block

.upploadPhoto
  display: inline-block
  vertical-align: top
  span
    font-size 13px
    line-height: 18px
    font-weight: 300
    display: block
    margin-bottom: 12px

.textInputsWrapper
  width: 65%
  display: inline-block

.upploadLogoWrapper
  display: inline-block
  padding-top: 8px
  width: 35%
  vertical-align: top