.fieldset
  position: relative
  border: none
  outline: none
  margin: 0
  padding: 0
  margin-bottom: 70px

  .smallTitle
    display: block
    font-weight: bold
    font-size: 13px
    color: $color-text
    text-transform: uppercase
    margin: 0 0 5px
    line-height: 15px
    margin-bottom: 30px

  &.invalid

    .smallTitle
      color: #EB5757