.otherRequirementsText
    color: #828282
    font-size: 13px
    font-weight: 300
    margin-bottom: 6px

.otherRequirementsBlock
    margin-bottom: 57px

.otherRequirementsSmallTitle
    font-size: 13px
    margin: 0 0 16px

.otherRequirementsToggle
    color: $color-link
    font-size: 13px
    cursor: pointer
    margin: 0 0 35px

.reqRadio
    display: block
    margin-bottom: 17px

.reqCheckbox
    display: inline-block
    margin-bottom: 24px
    width: 33%
    margin-right: 20px