.blockTitle
  margin-bottom: 7px
  font-size: 13px
  line-height: 15px
  display: inline-block
  width: 235px
  &.notValid
    color #eb5757

.container
  margin-bottom: 20px

.big
  width: 328px

.schooleWrapper
  margin-bottom: 70px

.noMargin
  margin-bottom: -70px

.addSchool
  margin-top: 100px
  color: #2D9CDB
  font-size: 13px
  font-weight: 300
  cursor: pointer
  display: block