.mobileAppBlock
  border: 1px solid #EBEBEB
  border-radius: 3px
  padding: 20px 14px

.item
  padding: 50px 0
  border-bottom: 2px solid #E9EDEE

.headerItem
  font-weight: Bold
  font-size: 15px
  line-height: 21px
  color: #24292E
  position: relative;
  .title
    font-weight: 600
  .period
    font-weight: 400
    color: #828282
    font-size 13px
    padding-top: 3px
    padding-bottom: 18px
  .links
    font-size: 11px
    line-height: 15px
    color: #828282
    font-weight: 300
    cursor: pointer
    position: absolute;
    top: 0
    right: 0
    .red
      color: #EB5757
      padding-left: 10px

.bodyItem
  .description
    font-weight: 300
    font-size: 15px
    line-height: 21px
  .openDescr
    font-size: 15px
    line-height: 21px
    color: #2D9CDB
    padding-left: 12px
    cursor: pointer
  .photos
    margin-top: 40px
