.flRow
  display: flex;
  flex-direction: row;

.iconContainer
  width: 60px
  min-width: 60px
  display: flex
  justify-content: center
  align-items: flex-start
  margin-right: 20px
  overflow: hidden
  margin-top: 35px

.avatar
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  img
    display: block;
    width: 100%;
    min-height: 100%;

.textContainer
  flex-grow: 1
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%
  padding-top: 35px

.feedBackTextRejected
  font-size: 13px
  color: #EB5757
  line-height: 18px
  margin-bottom: 3px

.titleGreen
  color: #27AE60
  line-height: 18px
  font-size: 13px
  margin-bottom: 4px

.feedBackText
  font-size: 13px
  color: #24292E
  font-weight: 300
  line-height: 18px

