.contactInputsContainer
  margin: 0
  padding: 23px 0 0

.contactInput
  display: inline-block
  vertical-align: top
  width: 500px
  margin-right: 30px
  margin-bottom: 22px

.contactInputLabel
  display: block
  font-size: 13px
  margin-bottom: 14px

.contactInputName
  width: 100%

.contactInputPhone
  width: 154px

.contactCheckbox
  margin-bottom: 10px

.example
  font-weight: 300
  font-size: 13px
  line-height: 18px
  margin-top: 10px
  margin-bottom: 50px
  span
    color: #2D9CDB